body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: black;
}

button {
  background-color: white;
}

p, strong {
  color: white;
  text-align: center;
}

.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  height: 90vh;
}

img {
  color: white;
  border: 1px solid white;
}

.knobs  {
  margin-right: 50px;
  width: 20%;
}

p {
  margin-bottom: 60px;
}

.info-box {
  margin-left: 50px;
}

button {
  color: white;
  border: 1px solid white;
  background: black;
  font-size: 16px;
}

button:hover .blue {
  color: blue;
}

button span {
  transition: all 0.5s ease;
}

button:hover .red {
  color: red;
}

button:hover .orange {
  color: orange;
}

button:hover .green {
  color: green;
}

.shape-input {
  margin: 0 auto;
  border: 1px solid white;
  width: 90%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
